
[Desktop Entry]
Encoding=UTF-8
Name=Graphics Analyzer 5.11.0
Exec="/opt/arm/developmentstudio-2022.0/bin/graphics_analyzer"
Icon=/opt/arm/developmentstudio-2022.0/sw/graphics_analyzer/gui/aga.xpm
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
